name: msys2-portable-action-workflow
on:
  workflow_dispatch:

permissions:
  contents: write

jobs:
  build:
    runs-on: windows-latest
    defaults:
      run:
        shell: msys2 {0}
    steps:
      - uses: actions/checkout@v4

      - id: msys2
        uses: msys2/setup-msys2@v2
        with:
          msystem: CLANG64
          update: true

      - name: Clean up MSYS2, keep only clang64
        shell: cmd
        run: |
          set "MSYS2DIR=${{ steps.msys2.outputs.msys2-location }}"
          rmdir /s /q "%MSYS2DIR%\mingw32"
          rmdir /s /q "%MSYS2DIR%\mingw64"
          rmdir /s /q "%MSYS2DIR%\ucrt64"
          rmdir /s /q "%MSYS2DIR%\clangarm64"
          rmdir /s /q "%MSYS2DIR%\var\cache\pacman\pkg"
          rmdir /s /q "%MSYS2DIR%\usr\share\doc"
          rmdir /s /q "%MSYS2DIR%\usr\share\man"
          rmdir /s /q "%MSYS2DIR%\usr\share\locale"
          rmdir /s /q "%MSYS2DIR%\var\log"
          rmdir /s /q "%MSYS2DIR%\usr\share\examples"

      - name: Archive minimal MSYS2 portable
        uses: thedoctor0/zip-release@master
        with:
          type: 'zip'
          directory: "${{ steps.msys2.outputs.msys2-location }}"
          filename: "msys2-portable-clang64-minimal.zip"

      - name: Release portable msys2
        uses: ncipollo/release-action@v1
        with:
          tag: "main"
          name: "MSYS2 Portable CLANG64 Minimal"
          artifacts: "${{ steps.msys2.outputs.msys2-location }}/msys2-portable-clang64-minimal.zip"
          allowUpdates: true
          token: ${{ secrets.GITHUB_TOKEN }}
